.container {
  display: flex;
  padding: 3%;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  height: 70%;
}

h1 {
  font-size: 1vw;
  font-weight: bold;
  width: 50vw;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 50vw;
  li {
    display: flex;
    flex-direction: row;
    line-height: 2;
    padding: 0;
    label {
      font-size: 1vw;
      color: grey;
      width: 10vw;
    }
    input {
      display: block;
      width: 25vw;

      margin-left: 5%;
      border-radius: 5px;
      outline: none;
      border: 1px solid grey;
    }
  }
}

