main {
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: center;
}
ul {
  margin: 0;
  padding: 1%;
  display: flex;
  flex-direction: column;
  width: 100%;

  li {
    display: flex;
    width: 90%;
    flex-direction: row;

    border-bottom: 1px lightgrey solid;
  }
}

#add-button {
  position: fixed;
  bottom: 10%;
  right: 10%;
  background-color: rgba(8, 21, 225, 0.8);
  height: 5%;
  width: 10%;
  color: white;
  border-radius: 20px;
  outline: none;
  border: 0;
  box-shadow: black 1px 1px 10px;
  cursor: pointer;
}
#add-button:hover {
  background-color: darkorange;
  //color: black;
}

