main {
  top: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.05);
}

dialog {
  //display: flex;
  background: white;
  border: 0;
  padding: 1%;
  box-shadow: grey 1px 1px 20px;
  position: fixed;
  height: 600px;
  width: 600px ;
  top: 10px;
  left: 0;
  //background-color: red;
  z-index: 2;
}

